# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Virtual environment
venv/
ENV/
env/
.venv/

# Django
*.log
*.pot
*.pyc
*.mo
*.pot
media/
staticfiles/

# VSCode / IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
